/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 0;
    display: flex;
    background: rgb(103, 173, 175);

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
    font-family: sans-serif;
    line-height: 1.5;
  }

  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }

  #canvasDiv{
    position: absolute;
    top: 12.5%;
  }