/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 0;
    display: flex;
    background: rgb(1, 102, 105);


  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
    font-family: sans-serif;
    line-height: 1.5;
  }

  *{
    font-family: Arial, Helvetica, sans-serif;
  }

  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }

  #canvas_div{
    position: absolute;
    top: 14.5vh;
  }

  #canvas_div:hover{
    cursor: crosshair;
  }

  .btn-container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
  }

  .btn{
    padding: 5px 7px 5px 7px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid black;
    width: auto;
    height: auto;
    transition: all 0.1s ease-in;
  }

  .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in;
  }

  #player_bar{
    position: absolute;
    top: 5vh;
    height: 68px;
    width: 657px;
    background: rgb(51, 0, 51);
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
  }

  #game-over{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: unset;
    background: tomato;
    text-align: center;
    justify-content: center;
    opacity: 0.5;
    z-index: 3;
  }

  #game-over h1{
    font-size: 5rem;
    margin-top: 20vh;
    color: black;
  }

  #game-over .btn{
    margin-top: 5vh;
        font-weight: bold;

  }

  #player_health_container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  #found_keys_container{
    width: 100%;
    background: blue;
    justify-content: center;
    align-items: center;
  }

  .heart{
    width: 30px;
    height: 30px;
    margin: 3px;
    transform: none;
    transition: all 1s ease-in;
  }

  .pop-out{
    transform: scale(1);
    transition: all 1s ease-in;
  }